<div class="container">
  <div class="upload">
    <input id="file-upload" hidden type="file" multiple (change)="onInputChange($event)" />
    <label class="browse" for="file-upload">Browse</label>
    <ul class="file-list">
      <li
        class="file-list-item"
        *ngFor="let file of files"
        [appHover]="file"
        (imageSrc)="onImageSrcChange($event)"
      >
        {{file.name}}
      </li>
    </ul>
  </div>
  <div class="preview">
    <img *ngIf="src && showImg" [@fadeInOut] class="img" [src]="src" alt="image">
  </div>
</div>
